.layout {
  min-height: 100vh;
  @include flex-column;
}

.main {
  flex: 1;
  @include container;
  padding-top: $spacing-lg;
  padding-bottom: $spacing-2xl;
}

.skipLink {
  position: absolute;
  top: -100px;
  left: 0;
  background: $primary-color;
  color: $text-light;
  padding: $spacing-sm $spacing-md;
  z-index: $z-tooltip;
  transition: top $transition-fast;

  &:focus {
    top: 0;
  }
}
